@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 4px !important;
  height: 4px !important;
}

.ag-theme-balham {
  font-family: 'Lato', 'Helvetica Neue', 'Arial', 'Helvetica', 'sans-serif' !important;
}
